:root {
    --font-body: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;
    --color-bg-0: rgb(65, 12, 100);
    /* --color-bg-1: hsl(208, 78%, 19%); */
    --color-bg-1: black;
    --color-bg-2: hsl(278, 79%, 50%);
    --color-theme-1: #ff3e00;
    --color-theme-2: #4075a6;
    --color-text: rgba(0, 0, 0, 0.7);
    --column-width: 42rem;
    --column-margin-top: 4rem;
    font-family: var(--font-body);
    color: var(--color-text);
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(45deg,
            rgb(var(--accent)),
            rgb(var(--accent-light)) 30%,
            white 60%);
}

body {
    min-height: 100vh;
    margin: 0;
    background-attachment: fixed;
    background-color: var(--color-bg-1);
    background-size: 100vw 100vh;
}

.mainDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* a.atsLink {
    color: blue;
}

.instA {
    text-decoration: none;
    width: 75%;
}

.instructions {
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 1.5rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    border-radius: 8px;
    background: linear-gradient(rgba(var(--accent-dark), 66%),
            rgba(var(--accent-dark), 33%));
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    color: antiquewhite;
    text-align: center;
}

a:hover {
    color: green;
}

.instructions:hover {
    border-color: green;
    color: green;
} */



.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 1rem;
}

.container a {
    text-decoration: none;
    color: purple;
}

.container a:hover {
    color: #ec4e27;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: blue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;

}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.thanks {
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: #ec4e27;
    text-align: center;

}

@media (max-width: 500px) {
    .instructions {
        font-size: 2.3rem;
    }
}

@media (max-width: 412px) {
    .instructions {
        font-size: 2rem;
    }
}